@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
a{ 
    text-decoration: none; 
    color: inherit
}
.first-section{
    background-color: #1f2937;
    padding-bottom: 10em;
}
#logo, .calltoaction{
    font: size 24px;
    color: #f9faf8;
    font-weight: bolder;
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-bottom: 5em;
}
.headerlinks{
    display: flex;
    list-style-type: none;
    gap: 50px;
}
#boldtextheaderleft{
    font-weight: bolder;
    font-size: 48px;
    color: #f9faf8;
    margin: 0;
}
.headerlinks, #nonboldtextheaderleft, #signupbutton{
    font-size: 18px;
    color: #e5e7eb;
}
#signupbutton{
    background-color: #3882f6;
    width: 10%;
    border-radius: 5px;
    padding: 6px;
    border:0cm;
    font-weight: bold;
}
.headertextleft{
    display: flex;
    width: 80%;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
}
.second-section{
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
#headerimage{
    width: 500px;
    height: 200px;
    border-radius: 5px;
}
#rando{
    color: #1f2937;
    font-weight: bolder;
    font-size: 36px;
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
}
.imagecontainer{
    display: flex;
    gap: 3em;
    justify-content: center;
}

.middleimages{
    border-radius: 10px;
    width: 200px;
    height: auto;
    border: 3px solid #1f2937;
    padding: 20px;
}
.subtextcontainer{
    display: flex;
    gap: 3em;
    justify-content: center;
    width: 80%;
}
.subtext{
    font-size: 18px;
}
.secondcontainer{
    padding-bottom: 7em;
    padding-top: 3em;
}
.thirdcontainer{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    padding: 5em;
}
#quote, #thor{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    display: flex;
    justify-content: center;
    padding-left: 20%;
    padding-right: 20%;
    margin: 0px;
}
#thor{
    display: flex;
    justify-content: flex-end;
    margin: 0px;
    font-weight: bold;
}
.fourthcontainer{
    display: flex;
    justify-content: center;
    padding: 7em;
}
.bluebox{
    display: flex;
    background-color: #3882f6;
    border-radius: 5px;
    padding-left: 10%;
    padding-right: 10%;
}
.calltoaction{
    margin: 50px;
    display: flex;
    flex-direction: column;
}
.boxbutton{
    display: flex;
    margin: 50px;
}
#signupbutton2{
    border-color: white;
    border-width: 2px;
    border-radius: 5px;
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    width: 120px;
    border-style:solid;
    font-size: medium;
}
#signup{
    font-weight: lighter;
}
#calltoaction{
    font-weight: bold;
    font-size: 24px;
}
.fifthcontainer{
    display: flex;
    background-color: #1f2937;
    justify-content: center;
}
#copyright{
    color: white;
    padding: 2em;
    display: flex;
}