a{ 
    text-decoration: none; 
    color: inherit
}
.first-section{
    background-color: #1f2937;
}
#logo{
    font: size 24px;
    color: #f9faf8;
    font-weight: bolder;
}
.navbar{
    display: flex;
}
.headerlinks{
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    list-style-type: none;
}
.navbarleft,{
}
