@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
a{ 
    text-decoration: none; 
    color: inherit
}
.first-section{
    background-color: #1f2937;
}
#logo{
    font: size 24px;
    color: #f9faf8;
    font-weight: bolder;
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.headerlinks{
    display: flex;
    list-style-type: none;
    gap: 10px;
}
#boldtextheaderleft{
    font-weight: bolder;
    font-size: 48px;
    color: #f9faf8;
}
.headerlinks, #nonboldtextheaderleft, #signupbutton{
    font-size: 18px;
    color: #e5e7eb;
}
#signupbutton{
    background-color: #3882f6;
    width: 15%;
}
.headertextleft{
    display: flex;
    width: 80%;
    margin: auto;
    flex-direction: column;
}
#headerimage{
    display: flex;
    width: 10px;
    height: auto;
}
.second-section{
    display: flex;
    background-color: #1f2937;
}